$break-point: 760px;

$side-margin: 3em;
$side-margin--small: 1em;

$max-width: 1000px;
$text-max-width: $break-point;

$base-font-size: 16px;
$base-font-size--small: 14px;

$color-text: #111;
$color-bg: #fff;
$color-link: #0060a0;
$color-visited: lighten(desaturate($color-link, 69%), 1%);
$color-hover: #e05020;
$color-grey: #a0a0a0;
$color-light: #e8e8e8;
$color-code: #b58900;
$color-tag: #556677;

$link-underline-opacity: .2;
$link-hover-underline-opacity: .9;
$half-opacity: .69;

$left-indent: 3em;
$left-negative-indent: -.25em;
