.e2-comment {
  margin-bottom: 2em;
  max-width: $text-max-width;
}

.e2-comment-meta-area {
  margin-bottom: .2em;
}

.e2-comment-author {
  font-size: (14/16)+em;
  font-weight: bold;
}

.e2-reply {
  margin-top: -1em;
  margin-left: $left-indent;
}