.form-label, .form-control-sublabel {
  font-size: (14/16)+em;
}

.form-control-sublabel {
  opacity: $half-opacity;
}

.form-control {
  margin-bottom: 1em;
  line-height: 1.5;
  input.text, .form-label, textarea, select {
    margin-top: .2em;
    margin-bottom: .4em;
  }

  textarea {
    line-height: 1.6;
  }
}

.form-label {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    > p {
      display: inline;
      margin-right: 1em;
    }
  }

  .form-element {
    margin-left: 0;
    width: 100%;
  }

.form-label:not(.normal), .form-label p:not(.help) {
  font-weight: bold;
}

.delete-box {
  padding-left: $left-indent;
  padding-right: $left-indent / 2;
}

@media screen and (max-width: $break-point) {
  .form-control {
    .width-1 {
      width: 40%;
    }
    .width-2 {
      width: 60%;
    }
    .width-3 {
      width: 80%;
    }
    .width-4 {
      width: 100%;
    }
  }
}