.chzn-container {
  background: #fff;
}

.chzn-container * {
  line-height: 100%;
}

.chzn-container .chzn-drop {
  margin-top: 2px;
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  padding: 1px 0 0 0;
}

.chzn-container-multi .chzn-choices {
  padding: 4px 0 0 4px;
}

.chzn-container-multi .chzn-choices .search-choice {
  display: inline-block;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #000;
  padding: 4px 18px 4px 6px;
  margin: 0 4px 4px 0;
  background: #e8e8e8;
  border: 1px #e8e8e8 solid;
  box-shadow: none;
  text-shadow: none;
}

.chzn-container-multi .chzn-choices .search-field input {
  height: 100%;
  padding: 4px 0 4px 0;
  margin: 0 0 4px 0;
}

.chzn-container .chzn-results .highlighted,
.chzn-container .chzn-results li,
.chzn-container .chzn-results li em,
.chzn-container .chzn-results .highlighted em {
  line-height: 13px;
}

.chzn-container .chzn-results .highlighted {
  border-radius: 3px;
  background-color: Highlight;
  background-image: none;
  color: HighlightText;
}

.chzn-container .chzn-results li em {
  background: transparent;
  font-style: normal;
  border-bottom: 1px #999 solid;
}

.chzn-container .chzn-results .highlighted em {
  background: transparent;
  border-bottom: 1px Highlight solid;
}

.chzn-container-multi .chzn-choices {
  border-radius: 3px;
  border: 1px #d0d0d0 solid;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
}

.chzn-container-multi .search-choice-close {
  border: none;
}

.chzn-container-multi .chzn-choices .search-choice-focus {
  background: Highlight;
  border: 1px Highlight solid;
  box-shadow: none;
  text-shadow: none;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close,
.chzn-container .chzn-results-scroll-down span,
.chzn-container .chzn-results-scroll-up span {
  background-image: url('../images/chosen-sprite.png?1393624679');
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.chzn-container-active .chzn-choices {
  border-color: #60a0ff;
}
