.installer {
  margin: 64px 2% 32px 16%;
  width: 82%;
}

.installer h1 {
  margin: -5px 0 32px 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  color: #000;
}

.installer h3 {
  font-weight: bold;
}

.input-remark {
  margin-left: 1em;
}

.livecheckable {
  color: #000;
}

.verified {
  color: #090;
}

.e2-wrong {
  color: #900;
}
